#textopersonajes{
    text-align: center;
    font-style: initial;
    font-size: 20px;
}

#titulopsj{
    color:#FF2BA2;
    text-decoration: underline;
    text-align: center;
}

#imagenpersonaje1{
    margin-right: 25px;
    text-align: center;
}
#marcoaudio{
    text-align: center;
}